* {
    font-family: Ubuntu;
}

body {
    margin: 0;
}
.header {
    background-color: #1f2937;
}

.navbar {
    /* border: 1px solid black; */
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    margin: auto 4px;
}

header {
    margin: 0 14%;
}

#header-logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.header-content {
    margin-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 200px;
}

.secondary-text, a:link, a:visited {
    text-decoration: none;
    color: #E5E7EB;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0px auto;
}

#header-subtext {
    margin-top: 0;
}

#sign-up-button {
    color: white;
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    padding: 7px 30px;
    font-weight: bold;
}

#sign-up-button:hover {
    background-color: #0050d0;
}

#sign-up-button:active {
    background-color: #003ea1;
}