* {
    font-family: Ubuntu, sans-serif;
}

body {
    margin: 0;
}
.header {
    background-color: #1f2937;
}

.navbar {
    /* border: 1px solid black; */
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    margin: auto 4px;
}

header {
    margin: 0 14%;
}

#header-logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.header-content {
    margin-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 200px;
}

.secondary-text, a:link, a:visited {
    text-decoration: none;
    color: #E5E7EB;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0px auto;
}

#header-subtext {
    margin-top: 0;
}

.sign-up-button {
    color: white;
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    padding: 7px 30px;
    font-weight: bold;
    font-size: 15px;
}

.button:hover {
    background-color: #0050d0;
}

.button:active {
    background-color: #003ea1;
}

.info-heading {
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    margin: 34px auto;
    color: #1f2937;
}

.pictures {
    justify-content: center;
    display: flex;
    gap: 40px;
}

.pictures img {
    border-radius: 10%;
    border: 5px solid #3882F6;
}

.pictures div {
    text-align: center;
    width: 160px;
}

.pictures .subtext {
    color: #444444;
}

.section-2 {
    margin-bottom: 100px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.section-3 div {
    width: 60%;
}

.section-3 {
    padding: 90px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    color: #3a3a3a;
}

.quote-author {
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 22px;
    margin-right: 43px;
    color: #393838;
}

.action-box {
    display: flex;
    margin: 80px auto;
    width: 68%;
    border-radius: 6px;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 38px 80px;
    box-sizing: border-box;
}

.action-text-big {
    font-size: 21px;
    font-weight: bold;
}
.action-text-small {
    color: #eeeeee;
}

.section-4 button {
    color: white;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid white;
    padding: 7px 30px;
    font-weight: bold;
    font-size: 15px;
}
.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 35px;
    font-size: 16px;
}